/*global styles start*/
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-image: linear-gradient(blue, cyan);
}
/*global styles end*/
/*header styles start*/
header{
    background-color: darkblue;
}
header::after {
    content: "";
    display: table;
    clear: both;
  }

#logo{
float:left;
height: 150px;
width: 300px;
}
/*header styles end*/
/*navbar start*/
nav {
    float:right;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 40px;
    padding-top: 30px;
    margin-right: 40px;
}
nav ul li a{
    color:white;
    transform: uppercase;

}
nav ul li a:hover{
color:yellow;
}
/*navbar end*/
/*project style*/
main{
    display:flex;
    width: 80%;
    margin: auto;
    
    
}
main1{
    display:column;
    width: 80%;
    margin: auto;
    
}
aside{
    width: auto;
    width: 90%;
    margin-top: 10px;
}
main > section{
    width: 70%;
    background-color: darkblue;
    border: black 3px solid;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects{
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    justify-content: center;
}
.projects section{
    width: calc(50% - 20px);
    margin: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.color, .mainproject h1{
    color: white;
    text-align: center;

}
.color, .mainproject h1:hover{
    color: yellow;
}
.projects .mainproject{
    width: 50%;
}
.projects img{
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25%;
    border: solid black 5px;
}
.color {
    display: flex;
    flex-direction: wrap;
}

/*project end*/
/*about me*/
.aboutme{
    background-color: darkblue;
    color:white;
    padding-left: 20px;
    border: black solid 3px;
}
.aboutme article{
    width: 100%;
    font-size: 30;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding-left: 10px;

}
.aboutme h1{
    display: inline;
}
#selfie{
    float: left;
    display:inline;
    border-radius: 25%;
}
/*about me end*/
/*body style*/
html{
    background-size: cover;
    background-position: center;
}
.contact{
    margin-top: 0;
}
.contact li{
    display: inline-block;
    margin-right: 50px;
}
.contact ul li a{
    color:white;
    font-size: 20;
    text-decoration: none;
}
.contact ul li a:hover{
    color:yellow;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: darkblue;
    border: black solid 1px;
}
footer #tag{
    color:white;
    width: 90%;
}
footer .contact{
    float: right;
    background-color: darkblue;
}
footer tm{
color: white;
}
/*body style end*/